<ng-container >
  <div class="background-login">

     <div class="login">

       <div class="logo">

       </div>

       <form>
         <div class="user pb-3 pt-4">
           <label for="user" class="pb-2">Nombre de usuario ó correo electrónico</label>
           <input pInputText id="user"/>
         </div>

         <div class="password">
           <div class="d-flex justify-content-between">
             <label for="password" class="pb-2">Contraseña</label>
             <button pButton label="Olvide mi contraseña" class="p-button-link link"></button>
           </div>
           <input pInputText  type="password" id="password"/>
         </div>

         <button pButton label="Iniciar sesión" class="w-100 mt-4"></button>

       </form>

       <div class="register">
         <span class="link">¿No tiene una cuenta?</span>
         <button pButton label="Cree una" class="p-button-link link" routerLink="/register"></button>
       </div>


     </div>



  </div>
</ng-container>

