<nav class="navbar navbar-expand-lg bg-body-tertiary" style="z-index: 5; border-bottom: 3px solid;" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Notimetro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
      </ul>
      
      <button type="button" class="btn btn-secondary">Iniciar sesión</button>
      <button class="btn btn-primary">Registrarse</button>

    </div>
  </div>
</nav>