
<main>
	<!-- Metro con boton de afluencia -->
	<section class="container-fuid main">
		<div class="container text-center row align-items-center">
			<div class="container col">
				<h1>
					Noti-metro
				</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corrupti mollitia unde nam dicta incidunt voluptatibus impedit temporibus nulla laudantium?</p>
				<button type="button" class="btn btn-primary">Afluencia</button>
			</div>
			<div class="container col">
				<img src="../../assets/metro.png" alt="">
			</div>
		</div>
	</section>
	
	<!-- Ultimos eventos -->
	<div class="hero" ></div>
	<section class="container-fluid" >
		<div class="container text-center" style="z-index: 5;">
			<h2>Ultimos eventos</h2>
			<app-card-carousel></app-card-carousel>
		</div>
	</section>

	<!-- Lineas del metro -->
	<section class="container-fluid" style="padding-top: 48px;">
		<div class="container text-center">
			<h2>Lineas del metro</h2>
			<app-line-page-sel></app-line-page-sel>
		</div>
	</section>

	<!-- Always testing -->
	<section>
		<app-test-card></app-test-card>
	</section>

</main>
<app-footer></app-footer>