
<main>
	<!-- Metro con boton de afluencia -->
	<section class="container-fuid main">
		<div class="container text-center row align-items-center">
			<div class="container col">
				<h1>
					Noti-metro
				</h1>
				<p>¡Bienbenido de vuelta!</p>
				<h3>{{cur_user}}</h3>
			</div>
			<div class="container col">
				<img src="../../assets/metro.png" alt="">
			</div>
		</div>
	</section>
	
	<!-- Ultimos eventos -->
	<div class="hero" ></div>
	<section class="container-fluid" >
		<div class="container text-center" style="z-index: 5;">
			<h2>Ultimos eventos</h2>
			<p>Aquí tienes los mas recientes reportes de las líneas a las que estás suscrito</p>
			<!-- <app-card-carousel></app-card-carousel> -->
			<app-report-table></app-report-table>
		</div>
	</section>

	<!-- Lineas del metro -->
	<section class="container-fluid" style="padding-top: 48px;">
		<div class="container text-center">
			<h2>Lineas del metro</h2>
			<app-line-page-sel></app-line-page-sel>
		</div>
	</section>


</main>
<app-footer></app-footer>