<main>
	<div class="row">
		<div class="col">
			<button class="btn btn primary" type="button" data-bs-toggle="collapse" data-bs-target="#linea-1" aria-expanded="false" aria-controls="linea-1"><img src="../../assets/lineas/1/MetroDF_Línea_1.png" alt="" [width]="image_size"></button>
			<p>Observatorio - Pantitlan</p>
			<div class="collapse" id="linea-1">
				<div class="card card-body line-sel">
					<ul class="list-unstyled lead">
						<li>Estación 1</li>
						<li>Estación 2</li>
						<li>Estación 3</li>
						<li>Estación 4</li>
						<li>Estación 5</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col">
			<button class="btn btn primary" type="button" data-bs-toggle="collapse" data-bs-target="#linea-2" aria-expanded="false" aria-controls="linea-2"><img src="../../assets/lineas/2/MetroDF_Línea_2.svg" alt="" [width]="image_size"></button>
			<p>Cuatro camino - Tasqueña</p>
			<div class="collapse" id="linea-2">
				<div class="card card-body line-sel">
					<ul class="list-unstyled lead">
						<li>Estación 1</li>
						<li>Estación 2</li>
						<li>Estación 3</li>
						<li>Estación 4</li>
						<li>Estación 5</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col">
			<button class="btn btn primary" type="button" data-bs-toggle="collapse" data-bs-target="#linea-3" aria-expanded="false" aria-controls="linea-3"><img src="../../assets/lineas/3/MetroDF_Línea_3.svg" alt="" [width]="image_size"></button>
			<p>Indios verdes - Universidad</p>
			<div class="collapse" id="linea-3">
				<div class="card card-body line-sel">
					<ul class="list-unstyled lead">
						<li>Estación 1</li>
						<li>Estación 2</li>
						<li>Estación 3</li>
						<li>Estación 4</li>
						<li>Estación 5</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col">
			<button class="btn btn primary" type="button" data-bs-toggle="collapse" data-bs-target="#linea-4" aria-expanded="false" aria-controls="linea-4"><img src="../../assets/lineas/4/MetroDF_Línea_4.svg" alt="" [width]="image_size"></button>
			<p>Martin carrera - Santa anita</p>
			<div class="collapse" id="linea-4">
				<div class="card card-body line-sel">
					<ul class="list-unstyled lead">
						<li>Estación 1</li>
						<li>Estación 2</li>
						<li>Estación 3</li>
						<li>Estación 4</li>
						<li>Estación 5</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<img src="../../assets/lineas/5/MetroDF_Línea_5.svg" alt="" [width]="image_size">
			<p>Politécnico - Pantitlan</p>
		</div>
		<div class="col">
			<img src="../../assets/lineas/6/MetroDF_Línea_6.svg" alt="" [width]="image_size">
			<p>El rosario - Martin carrera</p>
		</div>
		<div class="col">
			<img src="../../assets/lineas/7/MetroDF_Línea_7.svg" alt="" [width]="image_size">
			<p>El rosario - Barranca del muerto</p>
		</div>
		<div class="col">
			<img src="../../assets/lineas/8/MetroDF_Línea_8.svg" alt="" [width]="image_size">
			<p>Garibaldi/Lagunilla - Constitución de 1917</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<img src="../../assets/lineas/9/MetroDF_Línea_9.svg" alt="" [width]="image_size">
			<p>Tacubaya - Pantitlan</p>
		</div>
		<div class="col">
			<img src="../../assets/lineas/A/MetroDF_Línea_A.svg" alt="" [width]="image_size">
			<p>Pantitlan - La paz</p>
		</div>
		<div class="col">
			<img src="../../assets/lineas/B/MetroDF_Línea_B.svg" alt="" [width]="image_size">
			<p>Ciudad azteca - Buenavista</p>
		</div>
		<div class="col">
			<img src="../../assets/lineas/12/MetroDF_Línea_12.svg" alt="" [width]="image_size">
			<p>Mixcoac - Tláhuac</p>
		</div>
	</div>
</main>